/* reseteo */
* {
  margin: 0;
  padding: 0; }

/* body */
body {
  font-family: "Lato", sans-serif;
  color: #003787;
  background-color: #e8e2e2; }

/* tipo home */
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900; }

article h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

/* colores  y alturas secciones */
.seccion_1 {
  background-color: #8ab74d;
  height: 56rem; }

.seccion_2 {
  background-color: white;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.seccion_2bis {
  background-color: white;
  height: 50rem; }

.seccion_3 {
  background-color: #8ab74d;
  height: 37rem; }

.seccion_4 {
  background-color: #e8e2e2; }

.seccion_5 {
  background-color: white; }

footer {
  background-color: #1e1e1e;
  color: white; }

/* ubicacion de textos solos sin imagenes home */
.txt_buscas {
  text-align: center;
  padding-top: 5rem; }

.txt_diganos {
  text-align: center;
  padding-top: 1rem; }

/* ubicacion de  imagenes home */
.img_llaves {
  float: left; }

.lupa_celu {
  float: right;
  margin-top: 2.5rem; }

/* ubicacion de  imagenes comprar alquilar vender */
.comprar_alquilar_vender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

.comprar_alquilar_vender article {
  text-align: center; }

/* Seccion_alquilar */
/* Seccion_vender */
.color_blanco {
  background-color: white; }

/* rapido_simple_transparente */
.rapido_simple_transparente {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

.separador {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.separador div:nth-child(odd) {
  width: 5rem;
  border-bottom: 2px solid #6d6d6d; }

.separador div:nth-child(even) {
  width: 5rem;
  border-bottom: 4px solid #8ab74d; }

.titulo_separador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.txt_lugar {
  text-align: center;
  padding-top: 5rem; }

.txt_suscripcion {
  text-align: center;
  padding-top: 7rem; }

.txt_noticias {
  text-align: center; }

.txt_estamos, .txt_conversemos {
  text-align: center;
  padding-top: 5rem; }

.mapa_txt {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 3rem; }
  .mapa_txt div {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
    .mapa_txt div .txt_visita {
      text-align: left;
      font-size: 3.125rem; }
    .mapa_txt div .txt_independencia {
      font-size: 1.5rem; }

/* pagina nosotros*/
/* index espacio*/
.espacio {
  margin-top: 5rem; }

.txt_img_seguridad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-image: url("../img/nosotros_img_superior.png");
  height: 40rem;
  background-size: cover;
  color: #fff; }

.seccion_equipo {
  background-color: white;
  height: 12rem; }

.color_ventajas {
  background-color: #e8e2e2;
  height: 20rem; }

/* Grid */
.grid_comprar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem; }
  .grid_comprar img {
    object-fit: cover;
    width: 100%;
    max-height: 100%; }

/* contacto*/
.seccion_formularios {
  background-color: white;
  height: 70rem; }

.img_contacto, .img_vender {
  max-width: 30rem; }

.formulario {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch; }

/* vender*/
/*Footer*/
/*rrss*/
.info_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }

.rrss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; }
  .rrss a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010; }

/* se usaron algunas animated en titulos */
/* transicion */
/* Puse que cambie de color en alquilar */
.grid_comprar img:hover {
  filter: grayscale(80%); }

/* En index se difuminan los 3 iconos comprar alquilar y vender */
.comprar_alquilar_vender article a img:hover {
  filter: blur(5px); }

/*media queris responsive*/
/* mobile */
@media (max-width: 480px) {
  footer a span {
    visibility: hidden;
    font-size: 0; }
  /* Grid */
  .grid_comprar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem; }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
    header a {
      grid-column: 2;
      grid-row: 1;
      text-align: center; }
    header nav {
      grid-column: 1;
      grid-row: 1; }
  .info_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
  .rrss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; }
  .img_contacto {
    width: 0;
    visibility: hidden; }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
  .mapa_txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
  .img_vender {
    width: 0;
    visibility: hidden; } }

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  footer a span {
    visibility: hidden;
    font-size: 0; }
  /* Grid */
  .grid_comprar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem; }
  .grid_comprar img {
    object-fit: cover;
    width: 100%;
    max-height: 100%; }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }
    header a {
      grid-column: 2;
      grid-row: 1;
      text-align: center; }
    header nav {
      grid-column: 1;
      grid-row: 1; }
  .info_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
  .rrss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; } }
