.portada, .hablemos, .elegi, .suscripcion, .ubicacion, .conversemos, .seguridad, .equipo, .ventajas, .principal {
  padding: 5rem 0 5rem 0;
  text-align: center; }

/* reseteo */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  color: #003787;
  background-color: #e8e2e2; }

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900; }

article h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; }

.portada {
  background-color: #8ab74d; }
  .portada div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .portada div img {
      max-width: 100%; }

.hablemos {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.elegi {
  background-color: white; }

.suscripcion {
  background-color: #8ab74d;
  height: 37rem; }

.ubicacion {
  background-color: #e8e2e2; }

.conversemos {
  text-align: left;
  background-color: white; }

.seguridad h1 {
  text-align: left;
  padding-left: 1rem;
  font-size: 5rem; }

.seguridad div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-image: url("../img/nosotros_img_superior.png");
  height: 60rem;
  background-size: cover;
  color: white; }

.equipo {
  background-color: white; }

.ventajas {
  background-color: #e8e2e2; }
  .ventajas div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; }

.principal {
  background-color: white; }

.separador_titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .separador_titulo h2 {
    text-transform: uppercase; }
  .separador_titulo div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .separador_titulo div div:nth-child(odd) {
      width: 5rem;
      border-bottom: 2px solid #6d6d6d; }
    .separador_titulo div div:nth-child(even) {
      width: 5rem;
      border-bottom: 4px solid #8ab74d; }

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }
  .servicios article a img:hover {
    filter: blur(5px); }

.slider {
  padding-top: 5rem; }

.mapa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 3rem 0 0 1rem;
  text-align: left; }
  .mapa img {
    max-width: 100%;
    padding-right: 1rem; }
  .mapa div {
    padding: 1rem 0 0 1rem; }
    .mapa div h3 {
      text-transform: uppercase;
      font-size: 3.125rem; }
    .mapa div p {
      font-size: 1.5rem; }

.grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem; }
  .grilla img {
    object-fit: cover;
    width: 100%;
    max-height: 100%; }
  .grilla img:hover {
    filter: grayscale(80%); }

.formulario {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
  text-align: left; }
  .formulario img {
    max-width: 30rem; }

footer {
  padding: 1rem;
  background-color: #1e1e1e;
  color: white; }
  footer .info_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }

.rrss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; }
  .rrss ul {
    list-style: none; }
    .rrss ul span {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden; }
    .rrss ul a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .rrss ul a[href*="facebook"]:before {
        content: url("../img/facebook.png"); }
      .rrss ul a[href*="facebook"]:after {
        content: "/delsurgestioninmobiliaria"; }
      .rrss ul a[href*="instagram"]:before {
        content: url("../img/instagram.png"); }
      .rrss ul a[href*="instagram"]:after {
        content: "@delsurgestioninmobiliaria"; }
      .rrss ul a[href*="whatsapp"]:before {
        content: url("../img/whatsapp.png"); }
      .rrss ul a[href*="whatsapp"]:after {
        content: "+9411234758383"; }

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  .hidden {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden; }
  .grilla {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .mapa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; } }

/* mobile */
@media (max-width: 480px) {
  .portada div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
  .ventajas div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
  .seguridad div {
    background-position: -20rem; }
  .grilla {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr); }
  header a {
    text-align: center; }
  .info_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
    .formulario img {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden; }
  .mapa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
  .rrss ul li {
    display: inline-block; }
  .rrss ul a[href*="facebook"]:after {
    content: none; }
  .rrss ul a[href*="instagram"]:after {
    content: none; }
  .rrss ul a[href*="whatsapp"]:after {
    content: none; } }
