@import "colores";
@import "tipografia";

@mixin flexbox($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// No se puede extender adentro de media queries
// https://github.com/sass/sass/issues/1050
// https://github.com/sass/sass/issues/456
@mixin hidden() {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

%seccion {
    padding: 5rem 0 5rem 0;
    text-align: center;
}

// GENERAL

/* reseteo */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    color: #003787;
    background-color: $main-gray;
}

h1,
h2 {
    font-family: $title-font;
    font-weight: 900;
}

article h3 {
    font-family: $title-font;
    font-weight: 600;
}

// SECCIONES

// index
.portada {
    @extend %seccion;
    background-color: $main-green;
    div {
        @include flexbox(row, space-between, center);
        img {
            max-width: 100%;
        }
    }
}

.hablemos {
    @extend %seccion;
    background-color: white;
    @include flexbox(column, space-evenly, center);
}

.elegi {
    @extend %seccion;
    background-color: white;
}

.suscripcion {
    @extend %seccion;
    background-color: $main-green;
    height: 37rem;
}

.ubicacion {
    @extend %seccion;
    background-color: $main-gray;
}

.conversemos {
    @extend %seccion;
    text-align: left;
    background-color: white;
}

// nosotros
.seguridad {
    @extend %seccion;
    h1 {
        text-align: left;
        padding-left: 1rem;
        font-size: 5rem;
    }
    div {
        @include flexbox(column, center, stretch);
        background-image: url("../img/nosotros_img_superior.png");
        height: 60rem;
        background-size: cover;
        color: white;
    }
}
.equipo {
    @extend %seccion;
    background-color: white;
}
.ventajas {
    @extend %seccion;
    background-color: $main-gray;
    div {
        @include flexbox(row, center, stretch);
    }
}

// comprar/alquilar/vender
.principal {
    @extend %seccion;
    background-color: white;
}

.separador_titulo {
    @include flexbox(column, center, center);
    h2 {
        text-transform: uppercase;
    }
    div {
        @include flexbox(row, center, center);
        div:nth-child(odd) {
            width: 5rem;
            border-bottom: 2px solid $dark-gray;
        }
        div:nth-child(even) {
            width: 5rem;
            border-bottom: 4px solid $main-green;
        }
    }
}

.servicios {
    @include flexbox(row, center, stretch);
    article a img:hover {
        filter: blur(5px);
    }
}

.slider {
    padding-top: 5rem;
}

.mapa {
    @include flexbox(row, flex-start, stretch);
    padding: 3rem 0 0 1rem;

    text-align: left;
    img {
        max-width: 100%;
        padding-right: 1rem;
    }
    div {
        padding: 1rem 0 0 1rem;
        h3 {
            text-transform: uppercase;
            font-size: 3.125rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
    img:hover {
        filter: grayscale(80%);
    }
}

.formulario {
    @include flexbox(row-reverse, flex-start, stretch);
    text-align: left;
    img {
        max-width: 30rem;
    }
}

// PIE DE PAGINA
footer {
    padding: 1rem;
    background-color: #1e1e1e;
    color: white;
    .info_footer {
        @include flexbox(row, space-between, stretch);
    }
}

$social-media: (
    facebook: (
        icon: url("../img/facebook.png"),
        text: "/delsurgestioninmobiliaria",
    ),
    instagram: (
        icon: url("../img/instagram.png"),
        text: "@delsurgestioninmobiliaria",
    ),
    whatsapp: (
        icon: url("../img/whatsapp.png"),
        text: "+9411234758383",
    ),
);

.rrss {
    @include flexbox(column, flex-start, stretch);
    ul {
        list-style: none;

        span {
            @include hidden();
        }

        a {
            @include flexbox(row, flex-start, center);
            @each $social-key, $social-data in $social-media {
                &[href*="#{$social-key}"] {
                    &:before {
                        content: map-get($social-data, icon);
                    }
                    &:after {
                        content: map-get($social-data, text);
                    }
                }
            }
        }
    }
}

// Media queries => responsive first

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    .hidden {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .grilla {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .mapa {
        @include flexbox(column, flex-start, stretch);
    }
}

/* mobile */
@media (max-width: 480px) {
    .portada {
        div {
            @include flexbox(column, space-between, center);
        }
    }

    .servicios {
        @include flexbox(column, center, stretch);
    }

    .ventajas {
        div {
            @include flexbox(column, center, stretch);
        }
    }

    .seguridad {
        div {
            background-position: -20rem;
        }
    }

    .grilla {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    header {
        a {
            text-align: center;
        }
    }

    .info_footer {
        @include flexbox(column, space-between, stretch);
    }

    .formulario {
        @include flexbox(column, center, stretch);
        img {
            @include hidden();
        }
    }

    .mapa {
        @include flexbox(column, flex-start, stretch);
    }

    .rrss {
        ul {
            li {
                display: inline-block;
            }

            a {
                @each $social, $social-data in $social-media {
                    &[href*="#{$social}"] {
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}
