@import "colores";
@import "tipografia";

@mixin flexbox($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* reseteo */
* {
    margin: 0;
    padding: 0;
}

/* body */
body {
    font-family: $main-font;
    color: #003787;
    background-color: $main-gray;
}

/* tipo home */
h1,
h2 {
    font-family: $title-font;
    font-weight: 900;
}

article h3 {
    font-family: $title-font;
    font-weight: 600;
}

/* colores  y alturas secciones */
.seccion_1 {
    background-color: $main-green;
    height: 56rem;
}

.seccion_2 {
    background-color: white;
    height: 30rem;
    @include flexbox(column, space-evenly, center);
}

.seccion_2bis {
    background-color: white;
    height: 50rem;
}

.seccion_3 {
    background-color: $main-green;
    height: 37rem;
}

.seccion_4 {
    background-color: $main-gray;
}

.seccion_5 {
    background-color: white;
}

footer {
    background-color: #1e1e1e;
    color: white;
}

/* ubicacion de textos solos sin imagenes home */
.txt_buscas {
    text-align: center;
    padding-top: 5rem;
}

.txt_diganos {
    text-align: center;
    padding-top: 1rem;
}

/* ubicacion de  imagenes home */
.img_llaves {
    float: left;
}

.lupa_celu {
    float: right;
    margin-top: 2.5rem;
}

/* ubicacion de  imagenes comprar alquilar vender */
.comprar_alquilar_vender {
    @include flexbox(row, center, stretch);
}

.comprar_alquilar_vender article {
    text-align: center;
}

/* Seccion_alquilar */

/* Seccion_vender */
.color_blanco {
    background-color: white;
}

/* rapido_simple_transparente */
.rapido_simple_transparente {
    @include flexbox(row, center, stretch);
}

.separador {
    @include flexbox(row, center, center);
}

.separador div:nth-child(odd) {
    width: 5rem;
    border-bottom: 2px solid $dark-gray;
}

.separador div:nth-child(even) {
    width: 5rem;
    border-bottom: 4px solid $main-green;
}

.titulo_separador {
    @include flexbox(column, center, center);
}

.txt_lugar {
    text-align: center;
    padding-top: 5rem;
}

.txt_suscripcion {
    text-align: center;
    padding-top: 7rem;
}

.txt_noticias {
    text-align: center;
}

.txt_estamos, .txt_conversemos {
    text-align: center;
    padding-top: 5rem;
}

.mapa_txt {
    @include flexbox(row, flex-start, stretch);
    margin-top: 3rem;

    div {
        margin-left: 3rem;
        @include flexbox(column, center, stretch);

        .txt_visita {
            text-align: left;
            font-size: 3.125rem;
        }

        .txt_independencia {
            font-size: 1.5rem;
        }
    }
}

/* pagina nosotros*/
/* index espacio*/
.espacio {
    margin-top: 5rem;
}

.txt_img_seguridad {
    @include flexbox(column, center, stretch);
    background-image: url("../img/nosotros_img_superior.png");
    height: 40rem;
    background-size: cover;
    color: #fff;
}

.seccion_equipo {
    background-color: white;
    height: 12rem;
}

.color_ventajas {
    background-color: $main-gray;
    height: 20rem;
}

/* Grid */

.grid_comprar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

/* contacto*/
.seccion_formularios {
    background-color: white;
    height: 70rem;
}

.img_contacto, .img_vender {
    max-width: 30rem;
}

.formulario {
    @include flexbox(row-reverse, flex-start, stretch);
}

/* vender*/

/*Footer*/
/*rrss*/
.info_footer {
    @include flexbox(row, space-between, stretch);
}

.rrss {
    @include flexbox(column, flex-start, stretch);
    a {
        @include flexbox(row, flex-start, center);
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* se usaron algunas animated en titulos */
/* transicion */
/* Puse que cambie de color en alquilar */
.grid_comprar img:hover {
    filter: grayscale(80%);
}

/* En index se difuminan los 3 iconos comprar alquilar y vender */
.comprar_alquilar_vender article a img:hover {
    filter: blur(5px);
}


/*media queris responsive*/

/* mobile */
@media (max-width: 480px) {
    footer a span {
        visibility: hidden;
        font-size: 0;
    }

    /* Grid */
    .grid_comprar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        a {
            grid-column: 2;
            grid-row: 1;
            text-align: center;
        }
        nav {
            grid-column: 1;
            grid-row: 1;
        }
    }
    .info_footer {
        @include flexbox(column, space-between, stretch);
    }

    .rrss {
        @include flexbox(row, flex-start, stretch);
    }

    .img_contacto {
        width: 0;
        visibility: hidden;
    }

    .formulario {
        @include flexbox(column, flex-start, stretch);
    }

    .mapa_txt {
        @include flexbox(column, flex-start, stretch);
    }

    .img_vender {
        width: 0;
        visibility: hidden;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    footer a span {
        visibility: hidden;
        font-size: 0;
    }

    /* Grid */

    .grid_comprar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
    }

    .grid_comprar img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        a {
            grid-column: 2;
            grid-row: 1;
            text-align: center;
        }
        nav {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .info_footer {
        @include flexbox(column, space-between, stretch);
    }

    .rrss {
        @include flexbox(row, flex-start,  stretch);
    }
}

